{% extends 'base.html.twig' %}

{% block title %}Genre{% endblock %}

{% block body %}

<div class="container my-4">
    <div class="my-2 py-2 text-center">

    <h1>Genre</h1>

    <div class="table-responsive ms-auto">

        <table class="table table-striped">
            <tbody>
                <tr>
                    <th class ="align-middle" scope="row">Id</th>
                    <td class ="align-bottom text-start">{{ genre.id }}</td>
                </tr>
                <tr>
                    <th class ="align-middle" scope="row">Name</th>
                    <td class ="align-bottom text-start">{{ genre.name }}</td>
                </tr>
            </tbody>
        </table>
        <div class="d-flex justify-content-center gap-3">
            <a href="{{ path('app_back_genre_index') }}" class="btn btn-warning btn-lg mb-2">back to list</a>
            <a href="{{ path('app_back_genre_edit', {'id': genre.id}) }}" class="btn btn-secondary btn-lg mb-2">edit</a>

            {{ include('back/genre/_delete_form.html.twig') }}
        </div>
    </div>    
</div> 
{% endblock %}
