{% extends 'base.html.twig' %}

{% block title %}Critique du film{% endblock %}

{% block body %}

<div class="container-md bg-light my-5 border-top d-flex">
    <div class="row m-auto">

        <div class="col">

            <h2 class="text-muted my-5">Ajouter une critique sur {{ movie.type.name == 'film' ? 'le film ' : 'la série ' }}<span class='badge bg-warning text-dark'>{{ movie.title }}</span></h2>
            {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
                {{ form_row(form.username) }}
                {{ form_row(form.email) }}
                {{ form_row(form.content) }}
                {{ form_row(form.rating) }}
                {{ form_row(form.reactions) }}
                {{ form_row(form.watchedAt) }}
            
            <div class="col-12 mt-5 mb-5 d-flex justify-content-end">
                <button type="submit" class="btn btn-warning">Valider</button>
            </div>
        {{ form_end(form) }}

        </div>
    </div>
</div> 
{% endblock %}
