 {#
Une vue partielle sera utilisé avec l'instruction include
donc il n'y a pas de block, car on ne fait pas d'héritage
c'est vraiment une inclusion du code HTML/twig de cette vue
#}
 
 <!-- Nav -->

    {% if app.session.get('theme') %}
    
    {# <nav class="navbar navbar-expand-lg navbar-dark {% if isBackOffice %}bg-warning{% else %}bg-dark{% endif %}"> #}
    <nav class="navbar navbar-expand-lg navbar-dark bg-{{ theme == 'Allocine' ? 'yellow' : 'dark' }}">
        <div class="container-fluid">
            <a href="{{ path('default') }}" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none header-logo">
                <img src="{{ asset('favicon.png') }}" height="24" alt="Logo O'flix">
                <span class="header-logo__title {{ theme == 'Allocine' ? 'text-dark' : 'text-white' }}">O'flix</span>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0" id="{{ theme == 'Allocine' ? 'allocineText' : 'netflix' }}">
                    <li class="nav-item">
                        <a class="nav-link {{ app.request.get('_route') == 'default' ? 'active' : '' }}" href="{{ path('default') }}" id="{{ theme == 'Allocine' ? 'allocine' : 'netflix' }}">Accueil</a>                        
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {{ app.request.get('_route') == 'app_front_movie_search' ? 'active' : '' }}" href="{{ path('app_front_movie_search') }}" id="{{ theme == 'Allocine' ? 'allocine' : 'netflix' }}"><i class="bi bi-film"></i> Films, séries TV</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {{ app.request.get('_route') == 'app_front_movie_favorites' ? 'active' : '' }}" href="{{ path('app_front_movie_favorites') }}" id="{{ theme == 'Allocine' ? 'allocine' : 'netflix' }}"><i class="bi bi-bookmark"></i> Ma liste</a>
                    </li>
                </ul>
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle {{ theme == 'Allocine' ? 'text-muted' : 'text-white' }}" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown">
                            <span>Charles</span>
                            <i class="bi bi-person-square"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Profil</a></li>
                            <li><a class="dropdown-item" href="{{ path('app_back_default')}}">Backoffice</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Déconnexion</a></li>
                        </ul>
                    </li>
                </ul>

                <button type="button" class="btn btn-{{ theme == 'Allocine' ? 'dark' : 'danger' }} me-2">Connexion</button>

                <form class="d-flex" action="{{ path('app_front_movie_search') }}">
                    <input class="form-control form-control-sm me-2" name="search" type="search" placeholder="Rechercher...">
                    <button class="btn btn-outline-{{ theme == 'Allocine' ? 'dark' : 'danger' }}" type="submit"><i class="bi bi-search"></i></button>
                </form>
            </div>
        </div>
    </nav>

{% else %}
        
        {# <nav class="navbar navbar-expand-lg navbar-dark {% if isBackOffice %}bg-warning{% else %}bg-dark{% endif %}"> #}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a href="{{ path('default') }}" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none header-logo">
                <img src="{{ asset('favicon.png') }}" height="24" alt="Logo O'flix">
                <span class="header-logo__title text-white">O'flix</span>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link {{ app.request.get('_route') == 'default' ? 'active' : '' }}" href="{{ path('default') }}">Accueil</a>                        
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {{ app.request.get('_route') == 'app_front_movie_search' ? 'active' : '' }}" href="{{ path('app_front_movie_search') }}"><i class="bi bi-film"></i> Films, séries TV</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {{ app.request.get('_route') == 'app_front_movie_favorites' ? 'active' : '' }}" href="{{ path('app_front_movie_favorites') }}"><i class="bi bi-bookmark"></i> Ma liste</a>
                    </li>
                </ul>
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown">
                            <span>Charles</span>
                            <i class="bi bi-person-square"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Profil</a></li>
                            <li><a class="dropdown-item" href="{{ path('app_back_default')}}">Backoffice</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Déconnexion</a></li>
                        </ul>
                    </li>
                </ul>

                <button type="button" class="btn btn-danger me-2">Connexion</button>

                <form class="d-flex" action="{{ path('app_front_movie_search') }}">
                    <input class="form-control form-control-sm me-2" name="search" type="search" placeholder="Rechercher...">
                    <button class="btn btn-outline-danger" type="submit"><i class="bi bi-search"></i></button>
                </form>
            </div>
        </div>
    </nav>
{% endif %}