{% extends 'base.html.twig' %}

{% block title %}Season index{% endblock %}

{% block body %}

<div class="container-fluid p-5 ">
    <div class="my-5 py-5 text-center">

        <h1 class="text-muted my-2">Season index</h1>

            <div class="d-flex justify-content-end gap-3 mb-5">
                <a href="{{ path('app_back_season_new') }}" class="btn btn-success btn-lg mb-2" role="button" aria-disabled="true">Create new</a>
            </div>

            <div class="table-responsive ms-auto">
                
                <table class="table table-striped">
                    <thead class="table-dark">
                        <tr>
                            <th scope="col">Id</th>
                            <th scope="col">Number</th>
                            <th scope="col">NbEpisodes</th>
                            <th scope="col">actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for season in seasons %}
                        <tr>
                            <th class ="align-middle" scope="row">{{ season.id }}</td>
                            <td class ="align-middle">{{ season.number }}</td>
                            <td class ="align-middle">{{ season.nbEpisodes }}</td>
                            <td>
                                <a href="{{ path('app_back_season_show', {'id': season.id}) }}" class="btn btn-outline-dark btn-lg mb-2" role="button" aria-disabled="true">Show</a>
                                <a href="{{ path('app_back_season_edit', {'id': season.id}) }}" class="btn btn-secondary btn-lg mb-2" role="button" aria-disabled="true">Edit</a>

                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="4">no records found</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
    </div>
</div>        
{% endblock %}
