{% extends 'base.html.twig' %}

{% block title %}Casting index{% endblock %}

{% block body %}

<div class="container-fluid">
    <div class="my-3 py-3 text-center mx-sm-0 mx-md-3">

        <h1 class="text-muted my-2">Casting index</h1>

            <div class="d-flex justify-content-end gap-3 mb-5">
                <a href="{{ path('app_back_casting_new') }}" class="btn btn-success btn-lg my-2" role="button" aria-disabled="true">Create new</a>
            </div>

            <div class="table-responsive">
                
                <table class="table table-striped table-sm table-list">
                    <thead class="table-dark">
                        <tr>
                            <th scope="col">Id</th>
                            <th scope="col">Role</th>
                            <th scope="col">CreditOrder</th>
                            <th scope="col">actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for casting in castings %}
                        <tr>
                            <td class ="align-middle" scope="row">{{ casting.id }}</td>
                            <td class ="align-middle">{{ casting.role }}</td>
                            <td class ="align-middle">{{ casting.creditOrder }}</td>
                            <td>
                                <a href="{{ path('app_back_casting_show', {'id': casting.id}) }}" class="btn btn-outline-dark btn-lg review-btn mb-2" role="button" aria-disabled="true">Show</a>
                                <a href="{{ path('app_back_casting_edit', {'id': casting.id}) }}" class="btn btn-secondary btn-lg review-btn mb-2" role="button" aria-disabled="true">Edit</a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="4">no records found</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="navigation d-flex justify-content-center">
            	{{ knp_pagination_render(castings) }}
        	</div>
    </div>
</div>  
{% endblock %}