{% extends 'base.html.twig' %}

{% block title %}Casting{% endblock %}

{% block body %}

<div class="container my-4">
    <div class="my-2 py-2 text-center">

        <h1>Casting</h1>

        <div class="table-responsive ms-auto d-flex justify-content-center mt-5">
            <div class="row col-4">
                <table class="table table-striped">
                    <tbody>
                        <tr>
                            <th class ="align-middle" scope="row">Id</th>
                            <td class ="align-bottom text-start">{{ casting.id }}</td>
                        </tr>
                        <tr>
                            <th class ="align-middle" scope="row">Role</th>
                            <td class ="align-bottom text-start">{{ casting.role }}</td>
                        </tr>
                        <tr>
                            <th class ="align-middle" scope="row">CreditOrder</th>
                            <td class ="align-bottom text-start">{{ casting.creditOrder }}</td>
                        </tr>
                    </tbody>
                </table>
                <div class="d-flex justify-content-center gap-3 mt-5">
                    <a href="{{ path('app_back_casting_index') }}" class="btn btn-warning btn-lg mb-2" role="button" aria-disabled="true">Back to list</a>
                    <a href="{{ path('app_back_casting_edit', {'id': casting.id}) }}" class="btn btn-secondary btn-lg mb-2" role="button" aria-disabled="true">Edit</a>
                    
                {{ include('back/casting/_delete_form.html.twig') }}
                </div>
            </div>
        </div>
    </div>    
</div>  
{% endblock %}
