{% extends 'base.html.twig' %}

{% block title %}Person{% endblock %}

{% block body %}

<div class="container-fluid">
    <div class="my-2 py-2 text-center">
        <h1>Person</h1>

        <div class="table-responsive d-flex justify-content-center mt-5">
            <div class="col-lg-6 col-sm-12">
                <table class="table table-striped table-sm">
                    <tbody>
                        <tr>
                            <th class ="align-middle" scope="row">Id</th>
                            <td class ="align-bottom text-start">{{ person.id }}</td>
                        </tr>
                        <tr>
                            <th class ="align-middle" scope="row">Firstname</th>
                            <td class ="align-bottom text-start">{{ person.firstname }}</td>
                        </tr>
                        <tr>
                            <th class ="align-middle" scope="row">Lastname</th>
                            <td class ="align-bottom text-start">{{ person.lastname }}</td>
                        </tr>
                    </tbody>
                </table>
                <div class="d-flex justify-content-center gap-3 mt-5">
                    <a href="{{ path('app_back_person_index') }}" class="btn btn-warning btn-md review-btn mb-2" role="button" aria-disabled="true">Back to list</a>
                    <a href="{{ path('app_back_person_edit', {'id': person.id}) }}" class="btn btn-secondary btn-md review-btn mb-2" role="button" aria-disabled="true">Edit</a>
                    
                {{ include('back/person/_delete_form.html.twig') }}
                </div>
            </div>
        </div>
    </div>    
</div>  
               
{% endblock %}