{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}

<div class="container my-4">
    <div class="my-2 py-2 text-center">

        <h1>User</h1>

        <div class="table-responsive ms-auto">
               
            <table class="table table-striped">
                <tbody>
                    <tr>
                        <th class ="align-middle" scope="row">Id</th>
                        <td class ="align-bottom text-start">{{ user.id }}</td>
                    </tr>
                    <tr>
                        <th class ="align-middle" scope="row">Email</th>
                        <td class ="align-bottom text-start">{{ user.email }}</td>
                    </tr>
                    <tr>
                        <th class ="align-middle" scope="row">Roles</th>
                        <td class ="align-bottom text-start">{{ user.roles ? user.roles|json_encode : '' }}</td>
                    </tr>
                    <tr>
                        <th class ="align-middle" scope="row">Password</th>
                        <td class ="align-bottom text-start">{{ user.password }}</td>
                    </tr>
                </tbody>
            </table>

            <div class="d-flex justify-content-center gap-3">
            <a href="{{ path('app_back_user_index') }}"class="btn btn-warning btn-lg mb-2" role="button" aria-disabled="true">Back to list</a>
            <a href="{{ path('app_back_user_edit', {'id': user.id}) }}"class="btn btn-secondary btn-lg mb-2" role="button" aria-disabled="true">Edit</a>
            {{ include('back/user/_delete_form.html.twig') }}
            </div>
        </div>
    </div>    
</div>
        
{% endblock %}
