{% extends 'base.html.twig' %}

{% block body %}

    <!-- main -->
    <div class="container bg-light pt-5">

        <div class="row mb-2">

            <div class="col">

                <div
                    class="row g-0 border rounded overflow-hidden flex-md-row align-items-start mb-4 shadow-smmm position-relative">
                    <div class="col-4 movie__poster img-thumbnail"
                        style="background-image: url({{ movie.poster }})">
                        <img src="{{ asset('images/poster-placeholder.png') }}" class="img-fluid">
                    </div>

                    <div class="col-8 p-4 d-flex flex-column position-static bg-light">
                        {% include "front/partials/_favorites.html.twig" with {'movieIDForPartial': movie.id} %}
                        <strong class="d-inline-block mb-2 text-primary">{{ movie.type.name }}</strong>
                        <h3 class="mb-1">{{ movie.title }}</h3>
                            <div class="mb-1 text-muted">{{ movie.duration }} min</div>

                            <p>
                            {% for genre in movie.genres %}

                                <span class="badge bg-warning text-dark">{{ genre.name }}</span>

                            {% endfor %}    
                            </p>

                            <p>{{ movie.synopsis }}</p>

                            {% include 'front/partials/_stars.html.twig' with {'ratingStars': movie.rating} %}
                            
                            {% if movie.type.name == 'série' %}

                                <h2>{{ movie.seasons|length }} {{ movie.seasons|length > 1 ? 'Saisons' : 'Saison' }}</h2>

                                    <ul class="list-unstyled">

                                    {% for season in movie.seasons|sort((a, b) => a.number <=> b.number) %} 
                                        <li><span class="badge bg-danger fs-6 mb-2">Saison {{ season.number }}</span><small class="ms-1">({{ season.nbEpisodes }} épisodes)</small></li>
                                    {% endfor %}
                                    </ul>

                            {% endif %}
                            

                            <dl class="row">
                                <dt class="col-sm-12">Avec</dt>
                                <dd class="col-sm-12">

                                {% for casting in allCasting %}

                                    {{ casting.persons.firstname }} {{ casting.persons.lastname }} | ({{ casting.role }})<br>

                                {% endfor %}    

                                </dd>
                                <dt class="col-sm-12">Pays</dt>
                                <dd class="col-sm-12">{{ movie.country }}</dd>
                                <dt class="col-sm-12">Année</dt>
                                <dd class="col-sm-12">{{ movie.releaseDate|date("Y") }}</dd>
                            </dl>

                            {% if is_granted('ROLE_USER') %}

                            <div class="d-grid gap-2 d-md-flex mb-5 me-5 justify-content-md-end">
                                <a href="{{ path('add_review', {'id': movieId }) }}" class="btn btn-warning btn-lg" role="button" aria-disabled="false">Ajouter une critique</a>
                            </div>
                            {% endif %}

                            {% for review in reviews %}
                
                                <div class="card" style="width: 18rem;">
                                    <div class="card-body">
                                        <h6 class="card-subtitle mb-2 text-muted">{{ review.username }}</h6>

                                         {% include 'front/partials/_stars.html.twig' with {'ratingStars': review.rating} %}

                                        <em><p class="card-text">{{ review.content}}</p>
                                        <p class="card-subtitle mb-2 text-muted">Vu le {{ review.watchedAt|date('d-m-Y') }}<p></em>

                                    </div>
                                </div>

                            {% else %}

                                <div class="card" style="width: 18rem;">
                                    <div class="card-body">
                                        <em><p><span class="ps-1">Ce film n'a pas encore de critique<p></span></em>
                                    </div>
                                </div>
                                
                            {% endfor %} 
                    </div>   
                </div>
            </div>
        </div>
    </div>

{% endblock %}